<head>
    <%= stylesheet_link_tag 'application' %>
</head>
<body>
<div class="container-login100-donate show">
<div class="wrap-login100 show p-b-100">

<h1 class="text-white text-center text-middle p-b-20">Reset Password</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <div class='form-group'>
    <label class="txt3 lower" for="user_password">New Password</label>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class='form-group'>
    <label class="txt3 lower" for="user_password_confirmation">Confirm Password</label>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class='center'><%= f.submit 'Update password', class: "btn btn-primary" %></div>
<% end %>

</div>
</div>
</body>