<div class ="jumbotron">
    <h1>Edit Profile</h1>
</div>
    <%= form_for @user, class: "form-group", url: { controller: 'users', action: 'update', id: @user.id } do |f| %>
        <table class="table form-table">
        <tr>
            <td>First name:</td><td><%= f.text_field :first_name,class:'form-control' %></td>
        </tr>
        <tr>
            <td>Last name:</td><td><%= f.text_field :last_name,class:'form-control' %></td>
        </tr>
        <tr>
            <td>Email address:</td><td><%= f.text_field :email,class:'form-control' %></td>
        </tr>
        <tr>
            <td>Street Address:</td><td><%= f.text_field :street_address_line_1,class:'form-control' %></td>
        </tr>
        <tr>
            <td></td><td><%= f.text_field :street_address_line_2, class:'form-control' %></td>
        </tr>
        <tr>
            <td>City:</td><td><%= f.text_field :city,class:'form-control' %></td>
        </tr>
        <tr>
            <td>State:</td><td><%= f.select :state, options_for_select(us_states, selected: @user.state), { include_blank: true },class:'form-control state-select' %></td>
        </tr>
        <tr>
            <td>Zip Code:</td><td><%= f.text_field :zip_code, class:'form-control' %></td>
        </tr>
        <% if is_currently_admin? %>
            <tr>
                <td>Admin?</td><td><%= f.check_box :admin, class:'checkbox' %></td>
            </tr>
        <% end %>
    </table>
    <div class = "object-center">
    <%= f.submit "Save", class:"btn btn-primary" %>
<% end %>

<%= button_to "Change Password",  change_password_user_path(@user.id), class:"btn btn-primary",method: :get %>

<%= button_to "DELETE", user_path(@user.id), class:"btn btn-primary btn-delete", method: :delete %>
</div>
