<h1>Edit Profile</h1>

<div style="margin:10px">
    <%= form_for @user, url: { controller: 'users', action: 'update', id: @user.id } do |f| %>
        <div class="form-group">
            <label for="user_first_name">First name</label>
            <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
            <label for="user_last_name">Last name</label>
            <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
            <label for="user_email">Email address</label>
            <%= f.email_field :email, class: "form-control"%>
        </div>
        <div class="form-group">
            <label for="user_street_address_line_1">Street Address</label>
            <%= f.text_field :street_address_line_1, class: "form-control" %>
            <%= f.text_field :street_address_line_2, class: "form-control" %>
            <label for="user_city">City</label>
            <%= f.text_field :city, class: "form-control" %>
            <label for="user_state">State</label>
            <%= f.select :state, options_for_select(us_states, selected: @user.state), { include_blank: true }, class: "form-control" %>
            <label for="user_zip_code">Zip code</label>
            <%= f.text_field :zip_code, class: "form-control" %>
        </div>
        <% if is_currently_admin? %>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="user_admin">Admin?</label>
                <%= f.check_box :admin, class: "form-check-input" %>
            </div>
        <% end %>
        <br />
        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
</div>

<br />
<br />
<table class="button-table">
    <tr>
        <td><%= button_to "Change Password", change_password_user_path(@user.id), { method: :get, class: "btn btn-primary" }%></td>
    </tr>
    <tr>
        <td><%= button_to "DELETE", user_path(@user.id), { class: "btn btn-primary my-red", method: :delete } %></td>
    </tr>
<table>
