<%= form_for @user, url: { controller: 'users', action: 'update', id: @user.id } do |f| %>
    <table>
        <tr>
            <td>First name:</td><td><%= f.text_field :first_name %></td>
        </tr>
            <td>Last name:</td><td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
            <td>Email address:</td><td><%= f.text_field :email %></td>
        </tr>
        <tr>
            <td>Street Address:</td><td><%= f.text_field :street_address_line_1 %></td>
        </tr>
        <tr>
            <td></td><td><%= f.text_field :street_address_line_2 %></td>
        </tr>
        <tr>
            <td>City:</td><td><%= f.text_field :city %></td>
        </tr>
        <tr>
            <td>State:</td><td><%= f.text_field :state %></td>
        </tr>
        <tr>
            <td>Zip Code:</td><td><%= f.text_field :zip_code %></td>
        </tr>
        <% if is_currently_admin? %>
            <tr>
                <td>Admin?</td><td><%= f.check_box :admin %></td>
            </tr>
        <% end %>
    </table>
    <br />
    <%= f.submit "Save" %>
<% end %>

<%= button_to "DELETE", user_path(@user.id), method: :delete %>