<h1>Create New User</h1>

<%= form_for(:user, url: { controller: 'users', action: 'create' }) do |f| %>
    <table>
        <tr>
            <td>First name:</td><td><%= f.text_field :first_name %></td>
        </tr>
            <td>Last name:</td><td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
            <td>Email address:</td><td><%= f.text_field :email %></td>
        </tr>
        <tr>
            <td>Password:</td><td><%= f.password_field :password %></td>
        </tr>
        <tr>
            <td>Confirm Password:</td><td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
            <td>Street Address:</td><td><%= f.text_field :street_address_line_1 %></td>
        </tr>
        <tr>
            <td></td><td><%= f.text_field :street_address_line_2 %></td>
        </tr>
        <tr>
            <td>City:</td><td><%= f.text_field :city %></td>
        </tr>
        <tr>
            <td>State:</td><td><%= f.select :state, options_for_select(us_states) %></td>
        </tr>
        <tr>
            <td>Zip Code:</td><td><%= f.text_field :zip_code %></td>
        </tr>
        <% if is_currently_admin? %>
            <tr>
                <td>Admin?</td><td><%= f.check_box :admin %></td>
            </tr>
        <% end %>
        <% f.hidden_field :membership, value: '' %>
        <% unless is_currently_admin? %>
            <tr>
                <td>Membership Type</td>
            </tr>
            <tr>
                <% membership_types.each do |m, c, label| %>
                    <td><%= f.radio_button :membership, m, checked: c %><%= f.label "membership_#{label}".to_sym, label %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
    <br />
    <%= f.submit "Save" %>
<% end %>

<% if @user.errors.any? %>
    <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>
    <% end %>
<% end %>