<head>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<div class="container-login100-donate show">
<div class="wrap-login100 show p-b-100"> 
<h1 class="text-white text-center text-middle p-b-20"><%=@html_donation_title%></h1>

<!--<%= button_to 'Manage Subscription', edit_donation_transaction_path(current_user.id), :method => :get %>
<%= button_to 'Make a Donation', new_donation_transaction_path(current_user.id), :method => :get %>
<% if is_currently_admin? %>
      <%= button_to 'View Users', { controller: 'users', action: 'index', user_id: session[:user_id] }, method: :get %>
      <%= button_to 'Create New User', { controller: 'users', action: 'new' }, method: :get %>
      <%= button_to 'Get Emails', get_emails_users_path(), :method => :get %>
<% end %>
<%= button_to 'Edit Profile', { controller: 'users', action: 'edit', user_id: session[:user_id] }, method: :get %>
<%= button_to "Logout", session_path(current_user.id), method: :delete %>-->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="timestamp-col"><b><%= sortable "created_at", "Timestamp" %></b></th>
      <% if is_currently_admin? %>
        <th><b><%= sortable "email", "User Account" %></b></th>
      <% end %>
      <th class="amount-col"><b><%= sortable "price", "Donated Amount" %></b></th>
      <% if current_admin %>
        <th><b><%= sortable "payment_id", "Paypal Transaction ID" %></b></th>
        <th><b><%= sortable "payer_id","Paypal Payer ID" %></b></th>
      <% end %>
      <th class="recurring-col" colspan="2"><b><%= sortable "recurring","Recurring Payment" %></b></th>
      <th >Receipt</th>
    </tr>
  </thead>

  <tbody>
    <% @my_donations.each_with_index do |donation, i| %>
      <tr>
        <td><%= donation.created_at.to_formatted_s(:long) %></td>
        <% if is_currently_admin? %>
          <td><%= donation.user.email %></td>
        <% end %>
        <td><%= number_to_currency(donation.price) %></td>
        <% if current_admin %>
          <td><%= donation.payment_id %></td>
          <td><%= donation.payer_id %></td>
        <% end %>
        <td><%= donation.recurring%></td><td style="text-align:center"><%=button_to "Cancel", { controller: 'donation_transactions', action: 'recurring', cancel_id: donation.payment_id }, { class: "btn btn-primary", hidden: !donation.recurring, disabled: (current_user.id == donation.user.id) ? false : true }%></td>
        <td style="text-align:center"><%= button_to "View", { controller: 'receipts', action: 'show', id: donation.id, format: :pdf }, { class: "btn btn-primary", method: :get, name: "VIEW_#{i}", disabled: (current_user.id == donation.user.id) ? false : true } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Print All Receipts", { controller: 'receipts', action: 'index', format: :pdf }, { class: "btn btn-primary", method: :get } %></br>

<div style="margin:0 auto;">
  <%= line_chart @donations_chart, prefix: "$", height: "500px",thousands: ",", ytitle:"Total Amount Donated", title: 'Monthly Donations For Last Year', colors: ['#8c9b43'] %>
</div>
</div>
</div>

</body>