<h1><%=@html_donation_title%></h1>
<%= button_to 'Make a Donation', { controller: 'donation_transaction', action: 'new', user_id: session[:user_id] } , method: :get %>
<% if is_currently_admin? %>
      <%= button_to 'View Users', { controller: 'users', action: 'index', user_id: session[:user_id] }, method: :get %>
      <%= button_to 'Create New User', { controller: 'users', action: 'new' }, method: :get %>
<% end %>
<%= button_to "Logout", session_path(current_user.id), method: :delete %>

<style>
table, th, td {
  border: 0.5px solid black;
}
</style>
<table>
  <thead>
    <tr>
      <th><b><%= sortable "created_at", "Timestamp"%></b></th>
      <% if is_currently_admin? %>
      <th><b><%= sortable "email", "User Account"%></b></th>
      <% end %>
      <th><b><%= sortable "price", "Donated Amount"%></b></th>
      <th><b><%= sortable "payment_id", "Paypal Transaction ID"%></b></th>
      <th><b><%= sortable "payer_id","Paypal Payer ID"%></b></th>
    </tr>
  </thead>
 
  <tbody>
    <% @my_donations.each do |donation| %>
      <tr>
        <td><%= donation.created_at %></td>
        <% if is_currently_admin? %>
        <td><%= donation.user.email %></td>
        <% end %>
        <td><%= number_to_currency(donation.price) %></td>
        <td><%= donation.payment_id %></td>
        <td><%= donation.payer_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=line_chart @donations_chart, prefix: "$",width: "800px", height: "500px",thousands: ",", ytitle:"Total Amount Donated", title: 'Monthly Donations For Last Year', colors: ['#581818']%>