<div class = "jumbotron">
  <h1><%=@html_donation_title%></h1>
</div>

  <table class="table table-striped table-hover table-bordered">
    <thead class="table-header">
      <tr>
        <th><b><%= sortable "created_at", "Timestamp"%></b></th>
        <% if is_currently_admin? %>
        <th><b><%= sortable "email", "User Account"%></b></th>
        <% end %>
        <th><b><%= sortable "price", "Donated Amount"%></b></th>
        <th><b><%= sortable "payment_id", "Paypal Transaction ID"%></b></th>
        <th><b><%= sortable "payer_id","Paypal Payer ID"%></b></th>
        <th><b><%= sortable "recurring","Recurring Payment"%></b></th>
        <th><b>Receipt</b></th>
      </tr>
    </thead>
  
    <tbody class="table-body">
      <% @my_donations.each_with_index do |donation, i| %>
        <tr>
          <td><%= donation.created_at %></td>
          <% if is_currently_admin? %>
          <td><%= donation.user.email %></td>
          <% end %>
          <td><%= number_to_currency(donation.price) %></td>
          <td><%= donation.payment_id %></td>
          <td><%= donation.payer_id %></td>
          <td><%= donation.recurring%></td>
          <td><%= button_to "View", { controller: 'receipts', action: 'show', id: donation.id, format: :pdf }, class: "btn btn-default", method: :get, name: "VIEW_#{i}" %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="wrapper">
    <div class="center">
      <%=line_chart @donations_chart, prefix: "$",width: "800px", height: "500px",thousands: ",", ytitle:"Total Amount Donated", class: "object-center", title: 'Monthly Donations For Last Year', colors: ['#581818']%>
    </div>
  </div>
  <div class="object-center">
    <%= button_to "Print All Receipts", { controller: 'receipts', action: 'index', format: :pdf }, class: "btn btn-primary", method: :get %></br>
  </div>
  